.divAuth {
  background:#fff;
  width: 52%;
  margin-top: 10%;
  border-radius: 25px;
}

.form-control{
    border-radius: 25px;
    background: #e6e6e6;;
}

@media only screen and (max-width: 768px) {
  .divAuth{
    width: 100%;
  }
}